.RecipeDetail{
    /* font-family: sans-serif; */
    color:#16A085;
    border-style: solid;
    border: 15;
    border-color: #16A085 ;
    background-color: #FFFFF0;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
}

