
.Landing{
    align-items: center;
    position: relative;
   }
.Textos{
    /* height: 850px; */
    width: 50%;
    align-self: flex-end;
    padding: 10px;
    }
.Titulo {
    /* font-family: serif; */
    left: 121px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #16A085;
    font-size: 45px;
    margin-top: 150px;
    margin-left: 150px;
}

.Subtitulo{
    left: 121px;
    /* font-family: serif; */
    font-size: 32px;
    margin-top: 35px;
        
}

.Boton {
    margin-top: 45px;
    display: inline-block;
    width: 180px; 
    padding: 20px 0;
    text-align: center;
    border: #16A085;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    background-color:#FFFFF0;
    text-decoration: none;
    font-size: 20px;
    color: #16A085
} 
.Boton:hover {
    margin-top: 45px;
    display: inline-block;
    width: 180px; 
    padding: 20px 0;
    text-align: center;
    border-style: solid;
    border-color:#16A085;
    border-width: 2px;
    border-radius: 15px;
    background-color:#16A085;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFF0;
   
}

.Imagen{
    align-items: center;
     height: 626px; 
     width: 50%;
     position: absolute;
     top: 150px;
     right: 0px;
     background-image: url('./Imagenes/Chef.svg');
    background-repeat: no-repeat; }
